@import url('https://fonts.googleapis.com/css? family=Roboto:wght@100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Fira+Code&display=swap');

$body-font-family: 'Fira Code', sans-serif;
$heading-font-family: 'Roboto', sans-serif;
$font-size-root: 16px;